    {{ partial "head.html" . }}
    <body>
       {{ partial "nav.html" . }}

        <section id="wrapper">
            <article class="post">
                <header>
                    <h1>
                        {{ .Title }}
                    </h1>
                    <h2 class="headline">
                    {{ .Date.Format "Jan 2, 2006 15:04" }}
                    · {{ if lt 1 .WordCount }}{{ .WordCount }} Wörter {{ else }}{{ .WordCount }} Wörter{{ end }}
                    · {{ if eq 1 .ReadingTime }}{{ .ReadingTime }}min Lesezeit{{ else }}{{ .ReadingTime }}min Lesezeit{{ end }}
                      <span class="tags">
                      {{ with .Params.tags }}
                      {{ if ge (len .) 1 }}
                          {{ range . }}
                              <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
                          {{ end }}
                      {{ end }}
                      {{ end}}
                      </span>
                    </h2>
                </header>
                {{ if .Site.Params.enableToc }}
                  {{ if .TableOfContents }}
                    <div id="toc">
                      {{ .TableOfContents }}
                    </div>
                  {{ end }}
                {{ end }}
                <section id="post-body">
                    {{ .Content }}
                </section>
            </article>

            {{ if .Site.Params.enableGithubIssuesTips }}
                {{ partial "github-issues-tip.html" . }}
            {{ end }}

            {{ if .Site.Params.enableDisqus }}
                {{ partial "disqus.html" . }}
            {{ end }}

            {{ if .Site.Params.enableDuoshuo }}
                {{ partial "duoshuo.html" . }}
            {{ end }}

        </section>

        {{ partial "js.html" . }}
    </body>
</html>
