	{{ partial "head.html" . }}
	<body>
    {{ partial "nav.html" . }}

    {{ partial "profile.html" . }}

    <section id="wrapper" class="home">
        {{ partial "post-list.html"  . }}
        {{ partial "pagination.html" . }}
    </section>

    {{ partial "js.html" . }}
    </body>
</html>
