{{ partial "head.html" . }}
<body>
{{ partial "nav.html" . }}
{{ partial "profile.html" . }}

<section id="wrapper" class="home">
    {{ .Content }}

    {{ if .Site.Params.enableDisqus }}
        {{ partial "disqus.html" . }}
    {{ end }}

    {{ if .Site.Params.enableDuoshuo }}
        {{ partial "duoshuo.html" . }}
    {{ end }}

</section>

{{ partial "js.html" . }}
</body>
